<h1> About InfoFlood</h1>
<p> Welcome to InfoFlood, a wiki web application 
which contains historical records of floodings in places around the world</p>
<p>Please, feel free to navigate through our menu to find information about the most 
and least affected by floodings areas globally</p>
<div id='video'>
<iframe width="871" height="490" src="https://www.youtube.com/embed/-kHEI_76Bnc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
</div>
