// Place all the styles related to the InfoFlood controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.Logo {
  max-height: 250px;
  width: 250px;
 
}
.Menu-Flood {
  max-height: 10%;
  max-width: 30%;
  
}

a.btn.btn-primary { color: #ffffff; }
