
<!--<center><table>
 
    <tr>
    <%=link_to 'About',about_index_path %> |  <%=link_to 'Country', country_index_path %> | <%=link_to 'Summary', location_index_path %> |<%=link_to 'Search', information_index_path %>


    </tr>
</table>
</center> --> 