<center><table>
    <tr>
        <td><%= image_tag("logo.jpg",  :alt =>"Travelagent.com for your travel needs" ) %> 
        </td>
    </tr>
    <tr>
      About  | <%=link_to 'Summary', location_index_path %> | <%=link_to 'Search', search_index_path %>|


        
    </tr>
</table>
</center>